<div id="container">
  <div class="header">
    <div class="reserve"><button>I would like to book…</button></div>
    <div class="buttonGroup">
      <button>Menu</button>
      <button>Gallery</button>
      <button>About</button>
    </div>
  </div>

  <div id="container-main">
    <div class="main">
      <div class="text"><h1>Company Name</h1></div>
    </div>
  </div>

  <div class="footer">
    <div class="adress"><span>Za Pařerem 1441/ 7, Praha 3, 153 00</span></div>
    <div class="social">
      <button>facebook</button>
      <button>twitter</button>
      <button>instagram</button>
    </div>
  </div>
</div>
