<div id="container">
  <div class="header">
    <div class="reserve">
      <a routerLink="/reserve" class="button1">I would like to book…</a>
    </div>
    <div class="buttonGroup">
      <a routerLink="/menu" class="button1">Menu</a>
      <a routerLink="/gallery" class="button1">Gallery</a>
      <a routerLink="/about" class="button1">About</a>
    </div>
  </div>

  <div id="container-main">
    <div class="main">
      <div class="text"><h1>Company Name</h1></div>
    </div>
  </div>

  <div class="footer">
    <div class="adress">
      <span>Za Pařerem 1441/ 7, Praha 3, 153 00</span>
    </div>
    <div class="social">
      <a href="" class="button2"
        ><img
          src="../../assets/pics/placeholder.svg"
          alt="Google Maps"
          title="Google Maps"
          id="custom"
      /></a>
      <a href="" class="button2"
        ><img
          src="../../assets/pics/facebook.svg"
          alt="Facebook"
          title="Facebook"
          id="custom"
      /></a>
      <a href="" class="button2"
        ><img
          src="../../assets/pics/twitter.svg"
          alt="Twitter"
          title="Twitter"
          id="custom"
      /></a>
      <a href="" class="button2"
        ><img
          src="../../assets/pics/instagram.svg"
          alt="Instagram"
          title="Instagram"
          id="custom"
      /></a>
    </div>
  </div>
</div>
