.container {
  display: grid;
  margin: 0px;
  grid-template-rows: 25% 25% 25%;
  grid-template-rows: 15% 70% 15%;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
.container:hover .main,
.container:focus .main {
  transform: scale(1.2);
}

.header {
  grid-area: header;
  background-color: blueviolet;
}
.main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(src\assets\pics\main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}
.footer {
  grid-area: footer;
  background-color: aquamarine;
}
